body, html {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

#canvas{
    width: 100%;
    height: 100%;
    display: block;
}

#timer{
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translate(-50%, 0);

    color: rgb(35, 23, 43);
    font-family: "Courier New", Courier, monospace;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 4px;

    opacity: 0.8;
}



.clickable{
    padding: 2px;
    opacity: 0.4;
    user-select: none;
}

.clickable:hover{
    opacity: 1;
    cursor: pointer
}

.vertical_layout{
    display: flex;
    flex-direction: column;

    margin: 3px;
    padding: 2px;
}

.vertical_layout >*{
    flex: 1;
}

#settings{
    color: rgb(35, 23, 43);
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: bold;

    position: absolute;
    top: 35px;
    left: 5px;
    width: 200px;
    height: auto;

    display: none;
    flex-direction: column;

    background-color: #dfdddc;
    border-radius: 10px;
    opacity: .8
}

#menu_container{
    position: absolute;
    top: 5px;
    left: 5px;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.number_input{
    color: rgb(35, 23, 43);
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    font-weight: 600;

    border: none;
    border-radius: 6px;
}

.number_input:hover{
    outline:auto
}

.center_vertically{
    top: 50% !important;
}